{% include "header.html" %}
        <main class="">
            <h1 class="mb-3">Other Works</h1>
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <div class="works-container">
                        <!-- <ul>
                            <li>Work1</li>
                            <li>Work2</li>
                            <li>Work3</li>
                        </ul> -->
                        Coming Soon...
                    </div>
                    <div class="icon-box">
                        <a href="https://twitter.com/KTakuma_dev" class="fab fa-lg fa-twitter"></a>
    					<a href="https://www.instagram.com/k.takuma_dev/" class="fab fa-lg fa-instagram"></a>
    					<a href="https://github.com/konitaku" class="fab fa-lg fa-github"></a>
                    </div>

                </div>
            </div>
        </main>
{% include "footer.html" %}
